/* body {
  background-image: url("pictures/bg.png")
} */
.bg-myBlack {
  background-color: black;
}
/* .logo {
  position: fixed;
  top: -20px;
} */
.navLinkFont {
  font-size: 2.0em;
  text-align: center;
}

.nav-logo {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

.productPic {
  border-width: 5px !important;
}
.imgBorder {
  background-color: black;
}

hr.solid {
  border-top: 3px solid rgb(0, 0, 0);
}

.not-bold {
  font-size: 2rem;
}
.small-boi {
  font-size: 1rem;
}
.not-bold2 {
  font-size: 1.5rem;
}
.small-boi2 {
  font-size: .75rem;
}

.box {
  display: flex;
  justify-content: space-evenly;
}
.boxItem {
  flex-shrink: 30;
  padding-left: 0;
  padding-right: 0;
}
.flip {

  padding-left: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 2px !important;
  border-radius: 20px !important;
}
.artistBody {
  height: 280px;
  background-color: black;
  border-radius: 20%;

}
.artistPic {
  height: 300px;

}

.homePic{
  height:400px;
}

.art-link-text {
  font-size: 1.4em;
  text-decoration: none;
  color: white;
}

.carousel-indicators {
  margin-top: 50px !important;
  bottom: -35% !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  height: 25%;
  
}


/* Indicators list style */
.carousel-indicators button {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 90% !important;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 5px;
  width: 48% !important;
  opacity: 1 !important;
  background-color: white !important;
  border: 0px !important;
}
/* Indicators images style */
.carousel-indicators img {
  border: 2px solid #666666;
  float: left;
  height: 100%;
  left: 0;
  opacity: 1;
  
}
/* Indicators active image style */
.carousel-indicators .active img {
  border: 2px solid #000000;
  opacity: 1;
}

.bottom-margin {
  margin-bottom: 55% !important;
}

.carousel-divider {
  width:55%;
}