body {
  background-image: url("pictures/websiteBackground.png")
}
.bg-myBlack {
  background-color: black;
}
/* .logo {
  position: fixed;
  top: -20px;
} */

.productPic {
  border-width: 5px !important;
}
.imgBorder {
  background-color: black;
}